# COGS 108 - Data Checkpoint

# Names
- Jeffrey Wang
- Justin Bui
- Naasik Jahan
- Samantha Prestrelski
- Thuan Do

<a id='research_question'></a>
# Research Question

Is increased availability of public transportation and walkability in cities an effective way of reducing smog pollution? In measurable terms, do US states with 
1. higher walkability indices
2. more public transportation infrastructure, and 
3. high public transportation ridership numbers 

have less smog pollution, thus indicating that people choose to use these resources?

# Data


    Explain what the ideal dataset you would want to answer this question. (This should include: What variables? How many observations? Who/what/how would these data be collected? How would these data be stored/organized?)

The ideal dataset to answer this question would be easily manipulated and cleaned data, or a precleaned dataset, showing availability over the years of alternative options, and another dataset showing the amount of greenhouse gas pollution in a correlated area. We want a lot of data in many different places, with a large amount of observations. The data would be some sort of government census, hopefully in a good format like CSV that we can parse easily.

    Search for potential real datasets that could provide you with something useful for this project. You do not have to find every piece of data you will use, but you do need to have demonstrated some idea that (a) this data is gettable and (b) that this data may be different from what your ideal is

Below are links to datasets for the United States, which on the national scale.

https://catalog.data.gov/dataset/national-greenhouse-gas-emission-inventory - Greenhouse Gas emission for the United States


This data includes information about the emission of CO2 and other greenhouse gases per year in the United States. We expect to use this data to help us see if there is a correlation between an increase in public transportation and a decrease in greenhouse gases. 

https://catalog.data.gov/dataset/walkability-index - National Walkability Index


This data includes information about the walkability of certain cities. It gives a rating/index for different cities based on their perceived walkability. We expect to use these indices to see if there is a correlation between walkability and use of public transportation. We predict that the more walkable a city is, the higher the public transportation use is in that city.

https://www.transit.dot.gov/ntd/data-product/monthly-module-adjusted-data-release -National Public Transportation Rides Data

This data includes information about public transportation usage, reported by different public transportation agencies. Info included for one public transportation agency would include (for example) the population of their service area, the size of it, and the amount of miles traveled/unlinked passenger trips made, for the year of 2021, in a master dataset. There are over 2000 observations, which is ideal, this is a government census, and we can fairly easily sum up and clean the dataset where we can look at a certain state and look at its population/size and also how much transportation is used there. We expect to use this data to help us see if places with more transportation trips per person have less pollution than others. It also includes other datasets per year from roughly 2017-2021, so we could also check and see if there are increases per year, but this probably is not as much of a good idea because things might not change much from year to year.


We expect to use parameters such as greenhouse gas emissions, national walkability index, and public transportation ride data(miles/amount of trips). We expect this data to provide us with an idea of the abundance of public transportation in major cities, so that we can analyze whether having better walkability and access to public transportation actually results in noticable lower greenhouse gas emissions in cities.

# Dataset(s)

### Greenhouse Gas Emissions
- Dataset Name: Greenhouse Gas Emissions
- Link to the dataset: https://catalog.data.gov/dataset/national-greenhouse-gas-emission-inventory
- Number of observations: 51, 5, 32
- Description: This data includes information about the emission of CO2 and other greenhouse gases per year in the United States, organized by state. We expect to use this data to help us see if there is a correlation between an increase in public transportation and a decrease in greenhouse gases.

### Ridership
- Dataset Name: Ridership
- Link to the dataset: https://www.transit.dot.gov/ntd/data-product/monthly-module-adjusted-data-release
- Number of observations: 2251
- Description: This data includes information about public transportation usage, reported by different public transportation agencies. Info included for one public transportation agency would include (for example) the population of their service area, the size of it, and the amount of miles traveled/unlinked passenger trips made, for the year of 2021, in a master dataset.

### Walkability
- Dataset Name: Walkability Index
- Link to the dataset: https://catalog.data.gov/dataset/walkability-index
- Number of observations: 220,740
- Description: This data includes information about the walkability of certain cities. It gives a rating/index for different cities based on their perceived walkability. We expect to use these indices to see if there is a correlation between walkability and use of public transportation. We predict that the more walkable a city is, the higher the public transportation use is in that city.

We plan to compare these datasets by normalizing everything into observations by state. The ridership and greenhouse gas emissions datasets already are by state, but the walkability dataset is by city so we will need to clean it. Then, we will have a single dataframe with 50 observations (one for each state) and can perform exploratory data analysis from there.

# Setup

In [1]:
# imports
import pandas as pd

In [20]:
# read in csvs
walkability_df = pd.read_csv("https://edg.epa.gov/EPADataCommons/public/OA/EPA_SmartLocationDatabase_V3_Jan_2021_Final.csv")

# Data Cleaning

### Greenhouse Gas Emissions

Since the greenhouse gas emission data was already separated into 51 CSV files by state, we simply had to extract the data and put it into a dataframe for each state. We then put these dataframes into a dictionary, organized with key values by the two letter abbreviation for each state.

In [46]:
import pandas as pd
import numpy as np
import glob
import os
import matplotlib.pyplot as plt

# Path to the directory containing the CSV files
dir_path = "stategreenhousecsv"

# Dictionary to store the DataFrames
greenhouseDF = {}

#list of all 2 letter abbreviations for all states including District of Columbia
shortStates = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

#iterator for shortStates
statei = 0


# Loop through each file in the directory
for file_name in os.listdir(dir_path):
    if file_name.endswith('.csv'):
        # Construct the full file path
        file_path = os.path.join(dir_path, file_name)
        
        # Get the filename without the extension
        filename = os.path.splitext(file_name)[0]
        
        # Create a DataFrame from the CSV file
        df = pd.read_csv(file_path)
        
        # Store the DataFrame in the dictionary with a unique name
        #greenhouseDF[filename + "df"] = df
        greenhouseDF[shortStates[statei]] = df
        statei += 1
        
        # Do something with the DataFrame, e.g. print the first few rows
        #print(dataframes[filename + "df"].head())
        
statei = 0
        
for key, dataframe in greenhouseDF.items():
    current_column_name = dataframe.columns[0]
    currDF = dataframe
    currDF = currDF.drop([0,1,2,3])
    currDF = currDF.drop(columns=[current_column_name])
    currDF.index = [shortStates[statei]]
    statei += 1
    greenhouseDF[key] = currDF
    

greenhouseDF['UT']
greenhouse = pd.concat(greenhouseDF)
greenhouse = greenhouse.reset_index(level=0, drop=True)

greenhouse.to_csv("Greenhouse.csv")

greenhouse

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
AK,27.804661,27.669484,28.821505,29.279874,31.139179,32.959805,32.388121,32.080361,33.901591,34.127863,...,32.970984,32.148186,31.566633,32.228080,32.750525,34.533962,33.437115,33.525562,33.919503,33.904232
AL,8.620132,7.484211,7.221870,8.225784,7.900906,8.871570,9.198019,9.739005,10.314227,11.334057,...,9.033422,8.585080,7.726318,8.478229,8.031763,7.708458,7.944094,7.438180,7.679100,8.073378
AR,23.736773,23.803312,24.674450,26.125295,27.202068,27.800693,29.608770,31.352331,32.175705,34.060945,...,34.905967,34.948924,34.198436,35.520242,36.187472,37.109634,37.372778,38.370813,39.062726,35.522984
AZ,17.183761,17.089107,17.491239,18.053821,19.175634,19.703769,20.172997,20.863168,21.215759,22.386456,...,19.981823,19.790645,19.272024,20.027752,19.386009,20.093781,20.201678,20.379456,20.411561,19.249930
CA,182.676307,171.668237,183.021337,178.753318,185.215179,188.263934,193.524268,191.508953,194.065550,199.577108,...,180.426770,177.547843,176.882801,179.950166,181.553392,189.415144,193.649910,194.938181,195.939601,153.641150
CO,19.038648,18.952118,19.771244,21.351386,21.811703,22.591346,23.351500,23.758087,25.170631,27.129736,...,27.494052,27.721017,27.580083,29.055756,28.765985,29.611151,29.926525,30.748766,31.114101,26.285013
CT,15.309659,15.070529,15.374975,15.475157,15.482712,15.175025,15.716526,16.519659,16.574786,17.926357,...,16.508860,15.930920,15.485777,15.590556,15.750231,15.873123,15.976934,16.460018,16.048431,13.664208
DC,4.322608,4.497319,4.445301,4.490920,4.409218,4.299404,4.409958,4.336719,4.429815,4.586030,...,4.929442,4.744839,4.551046,4.625187,4.842481,5.591684,5.337230,5.597329,5.809155,4.913833
DE,1.851048,1.843569,1.863283,1.936664,1.864353,1.867127,1.817383,1.884483,1.844141,1.910148,...,1.336318,1.160734,1.174737,1.264751,1.226479,1.292543,1.074129,1.931776,1.297985,0.993661
FL,76.663809,72.623847,75.987039,79.873842,82.149294,84.030143,86.548862,88.737251,90.943628,95.336917,...,97.994359,97.869563,97.930371,99.443255,101.726731,104.291867,107.020870,110.972801,109.537976,93.343730
GA,49.901850,48.247756,48.999175,54.407920,56.023873,58.752868,61.292324,60.599823,63.571029,66.226736,...,62.900387,60.756405,62.147694,60.863577,65.008682,61.819650,65.773570,64.313940,62.804751,56.975468
HI,7.902977,7.254340,7.421069,6.915377,7.475722,7.446635,7.449418,7.349773,7.225284,7.252892,...,8.478915,8.399378,8.700467,8.821956,8.854017,8.948092,9.310099,9.234257,9.442976,6.195017
IA,6.649234,6.436728,6.642485,7.501821,7.604215,8.094364,8.410624,8.821034,8.732694,9.371599,...,8.935100,9.213339,9.218271,9.461619,9.669608,10.084754,10.286667,10.224799,10.562689,10.312084
ID,55.500430,54.279116,56.462323,58.710040,58.767267,61.613278,63.563650,68.389002,64.329891,70.913199,...,66.827268,64.985198,64.848550,66.009555,70.933403,67.215361,67.235101,67.315389,65.087208,54.126243
IL,39.751128,38.910557,39.596354,41.965604,43.778323,45.017632,44.414205,44.506900,45.482472,44.707237,...,41.660989,41.287482,40.440236,41.703144,42.109286,41.993242,41.590614,41.230251,40.501921,37.566147
IN,17.668418,16.743058,16.853019,17.338846,18.617474,19.277858,20.362698,20.268308,21.215430,21.363502,...,22.000267,21.155115,21.094233,21.852966,21.279391,22.371574,21.386913,21.770056,21.626825,20.022249
KS,18.559883,17.220575,17.210616,17.973510,17.405129,18.368667,19.310961,19.613678,19.732801,21.001967,...,18.258129,17.676196,17.820059,18.610631,17.722299,17.655503,16.680422,17.859490,18.231447,16.932900
KY,25.660430,24.516981,26.797870,27.771268,28.044752,28.574375,27.442915,30.391798,30.883427,31.890376,...,30.961661,29.876109,29.123725,30.262190,30.211759,30.339661,30.867860,32.108481,32.288086,30.445816
LA,33.829281,34.480186,36.520547,36.994610,39.543034,39.594607,41.736821,38.605453,38.209375,41.636240,...,32.137835,30.639205,30.207962,29.924572,28.924789,30.922640,32.273241,32.381744,34.684111,32.486111
MA,7.634984,7.421591,7.540637,7.482558,7.545511,7.436392,7.869608,8.249142,7.993437,8.535461,...,8.264692,7.797721,8.575125,8.639862,8.491137,8.537085,7.840292,7.233273,7.101893,6.547664
MD,24.485006,24.168658,24.930443,24.985228,25.060174,25.424995,26.361113,27.786112,28.293664,30.048201,...,30.514546,30.415187,30.452024,30.335762,31.183719,30.395615,30.175637,31.158227,31.232267,25.929250
ME,28.475592,27.011248,27.470198,27.621725,28.273383,28.795587,30.021615,30.727535,31.565195,32.532484,...,30.974891,30.472205,30.879874,30.191900,30.976802,31.590644,31.171352,31.694874,31.667808,24.237551
MI,49.917331,50.066933,51.352517,54.486548,54.779110,56.333185,57.743424,59.011664,61.240731,63.923944,...,51.186869,50.899916,51.642942,51.338321,51.986786,52.506160,51.571539,53.435735,51.932896,44.088398
MN,24.158119,24.718956,26.337032,28.233991,29.574813,30.754362,32.220091,32.109455,33.886198,36.133240,...,31.367532,31.998921,31.097175,31.567123,30.692467,33.105938,33.299185,33.532763,33.396736,27.362735
MO,19.635838,20.103559,21.697187,21.751811,22.127183,23.001436,23.753983,24.289715,25.264003,27.057449,...,21.909868,23.245878,21.136351,22.020550,22.416526,23.316804,22.843981,23.298198,23.534670,22.591551
MS,34.843759,34.689066,36.284463,37.235742,38.642212,39.456830,40.801908,42.152390,42.720470,42.251574,...,39.491893,38.623702,37.743238,39.019238,38.431168,39.293895,39.064630,39.660497,39.287407,35.686342
MT,5.860272,5.693934,6.140023,6.386202,6.633094,6.802513,6.812254,6.948736,7.118211,7.477878,...,7.633978,7.857236,7.732710,7.816881,7.670361,7.680034,7.719073,7.801439,7.663256,7.471777
NC,10.459715,10.029076,10.612623,10.682578,11.132653,11.866952,12.469487,12.285608,12.914673,13.293575,...,12.746895,12.616306,12.597832,13.111018,12.920872,13.123707,13.127068,13.496264,13.422357,12.527542
ND,9.543994,9.792918,10.094227,10.577060,11.076693,11.503357,12.737266,12.963622,13.591157,14.476190,...,16.180152,16.468627,16.564792,16.618284,16.769406,17.484545,18.195960,18.163519,18.214869,15.467502
NE,5.467859,5.526433,5.564796,5.616371,5.800770,6.047645,6.261913,7.245249,7.333602,7.610068,...,7.167727,6.967739,6.931927,7.077699,6.871660,6.825192,6.870556,7.027772,6.939387,6.031793
NH,52.081524,50.350012,50.974209,49.538932,55.148200,54.937465,55.937636,55.903182,56.827408,58.055526,...,50.599187,48.741360,47.945136,48.665682,47.569296,50.175747,47.687904,48.015072,46.450041,36.520566
NJ,15.337337,14.989258,14.373359,16.334096,16.057194,15.749561,13.935080,16.510916,16.942863,17.127263,...,14.580078,14.752526,14.364894,14.900409,14.848258,14.574425,15.422394,15.634717,15.827640,15.129083
NM,67.008681,63.963171,63.916501,64.442066,64.343305,66.401138,68.828594,68.061581,70.085475,70.554704,...,77.262476,74.850615,74.479313,77.188256,75.366636,78.493775,79.719166,77.685706,78.251912,61.511484
NV,40.087465,39.034967,40.397198,41.927583,44.111977,45.517214,48.481093,49.465755,51.353791,52.881076,...,51.987721,50.290839,50.615191,52.285946,53.015568,54.927683,55.390295,56.390203,57.142320,51.700202
NY,4.579758,4.589400,4.894695,5.123359,5.222965,5.235729,5.363248,5.370599,5.191854,5.807492,...,8.161071,9.070241,9.233419,9.763899,8.857755,7.797355,8.168633,8.559400,8.938501,7.904326
OH,59.610430,57.923046,58.604439,61.194673,63.169430,65.164069,66.779761,68.856779,70.692042,74.117108,...,61.842892,60.757520,60.081674,62.041178,62.114054,62.024973,62.810955,63.363020,62.167604,56.683534
OK,24.211370,24.191727,26.231214,25.555374,26.895169,26.059374,27.458461,26.928089,27.333189,28.714692,...,28.455581,29.223050,29.477198,31.380877,30.164627,30.525704,31.196981,31.886900,30.974104,28.222743
OR,18.650037,18.706351,19.397727,19.726275,19.980111,20.297883,21.334309,21.005559,22.286247,22.760865,...,19.891844,19.479827,19.387688,19.812779,20.120685,20.590719,21.038801,21.705431,20.968907,19.050313
PA,60.395016,59.520553,61.705903,63.492009,64.468091,65.865214,66.390184,68.045120,69.544231,71.455663,...,67.291237,64.706970,64.281687,64.915848,63.067385,62.386522,63.299372,62.610855,63.110489,54.441962
RI,4.141120,3.956040,4.105165,4.071374,4.047683,4.163582,4.288432,4.420136,4.583757,4.832191,...,4.119401,3.883250,3.868137,4.181136,4.150532,3.892549,3.967378,4.122194,4.075972,3.426811
SC,22.928131,21.887657,22.638490,23.478912,24.849826,24.669773,25.254711,26.263654,28.083788,29.238521,...,31.205754,30.592895,31.382047,30.622455,31.997981,33.117052,33.480606,33.361439,33.133963,29.720211
SD,5.035219,4.824185,5.415239,5.513153,5.988717,6.063491,6.149308,5.996205,6.241320,6.402142,...,6.685278,6.981607,6.657433,6.975277,6.956699,7.020994,7.018821,7.061490,6.892371,6.761404
TN,31.995066,30.313166,32.512146,34.594428,36.267536,37.602714,39.339980,40.013830,41.069856,43.219773,...,41.700880,39.947798,39.578771,41.171024,41.367256,42.504554,42.627490,43.168986,45.108579,41.839163
TX,137.260161,130.597903,135.434640,136.041129,143.922474,141.340834,155.161106,156.634020,163.432678,168.618595,...,175.559468,178.501047,190.939337,192.164096,193.584726,199.445105,202.902806,210.768014,214.476009,186.398654
UT,10.726113,10.905175,11.279437,11.654783,12.083462,13.261035,13.805438,14.480586,15.014897,15.493340,...,16.468839,16.381417,16.374577,16.636689,16.583518,17.339235,17.678359,18.454835,18.172051,17.305470
VA,3.189424,3.262989,3.486441,3.667949,3.746507,3.911238,4.111373,3.968692,3.936426,3.784512,...,3.415652,3.325675,3.310446,3.305631,3.286685,3.331947,3.286201,3.145849,3.244339,2.722309
VT,40.296789,38.695015,40.097544,41.032090,42.218026,43.120671,44.162070,45.636657,46.986570,48.775159,...,49.540217,49.995115,49.395898,51.019860,50.599624,52.121993,52.458726,52.899587,52.466406,46.766881
WA,34.942811,33.954200,37.976183,36.525388,38.040485,39.488371,39.740172,38.311588,37.437305,40.133176,...,34.367963,34.251793,35.270762,34.967129,35.594350,37.717941,38.093705,38.901219,39.666275,31.057811
WI,10.268716,10.016575,11.099743,11.350809,11.990844,12.160336,11.236459,12.524348,12.703056,12.767858,...,11.586095,12.021638,11.518513,11.669398,12.281038,11.020698,11.983480,13.666843,13.704135,11.611902
WV,25.275602,25.431751,26.623021,27.426192,29.034302,29.782469,30.680321,31.028345,32.865124,33.446816,...,30.212969,30.405451,29.327856,31.728354,30.486638,30.583211,30.216259,32.229908,31.382564,28.369396
WY,5.299435,5.177134,5.500848,5.915508,5.815387,6.209502,6.618361,6.776133,7.099772,8.287014,...,7.501759,8.057112,7.940246,7.914990,7.518053,7.301553,7.163089,7.517128,7.411844,6.978001

### Ridership

We will take in a dataset of national travel data, and clean it up. Right now there are too many columns, and it is hard to index by state.

In [5]:
#RIDERSHIP
#note that these csvs are gotten from the excel sheet linked in the datasets, the script to extract them to csv files is in the ridership folder
df = pd.read_csv('./ridership/Master.csv')
df.shape

(2250, 27)

In [6]:
df.head()

,Unnamed: 0,NTD ID,Legacy NTD ID,Agency,Mode,TOS,Status,Reporter Type,Organization Type,HQ City,...,Most Recent Report Year,FY End Month,FY End Year,Passenger Miles FY,Unlinked Passenger Trips FY,Avg Trip Length FY,Fares FY,Operating Expenses FY,Avg Cost Per Trip FY,Avg Fares Per Trip FY
0,0,1,0001,King County Department of Metro Transit,DR,PT,Active,Full Reporter: Operating,"City, County or Local Government Unit or Depar...",SEATTLE,...,2021,12,2021,4681124.0,468104.0,10.000179,727350.0,55727925.0,119.050307,1.553821
1,1,1,0001,King County Department of Metro Transit,DR,TX,Active,Full Reporter: Operating,"City, County or Local Government Unit or Depar...",SEATTLE,...,2021,12,2021,1034484.0,88944.0,11.630734,82828.0,4336772.0,48.758455,0.931238
2,2,1,0001,King County Department of Metro Transit,FB,DO,Active,Full Reporter: Operating,"City, County or Local Government Unit or Depar...",SEATTLE,...,2021,12,2021,984134.0,286843.0,3.430915,1402145.0,7132706.0,24.866237,4.888197
3,3,1,0001,King County Department of Metro Transit,LR,DO,Active,Full Reporter: Operating,"City, County or Local Government Unit or Depar...",SEATTLE,...,2021,12,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1,0001,King County Department of Metro Transit,MB,DO,Active,Full Reporter: Operating,"City, County or Local Government Unit or Depar...",SEATTLE,...,2021,12,2021,173679796.0,42112037.0,4.124232,40536170.0,591780147.0,14.052518,0.962579

In [7]:
# filter out HQ STATE, Service Area Population, Service Area SQ Miles, Passenger Miles FY, Unlinked Passenger Trips FY
cols = ['HQ City', 'HQ State', 'Service Area Population', 'Service Area SQ Miles', 'Passenger Miles FY', 'Unlinked Passenger Trips FY', 'Most Recent Report Year']
df = df[cols]

#filter out only ones from 2021
df = df[df['Most Recent Report Year'] == 2021]
# list of all possible states, so we can filter to only unique states 
possible_states = df['HQ State'].unique().tolist()

possible_cities = df['HQ City'].unique().tolist()

Note that we don't drop NA values because each row is from a transportation authority(might have multiple entries from the same authority), some rows from the same authority have duplicate info and are left blank, but they have other nonduplicate information(e.g. different types of transportation from one company in different rows).

In [8]:
print(possible_states)

['WA', 'OR', 'ID', 'AK', 'RI', 'NH', 'MA', 'ME', 'CT', 'VT', 'NY', 'NJ', 'PA', 'WV', 'VA', 'DC', 'MD', 'DE', 'TN', 'NC', 'MS', 'KY', 'GA', 'FL', 'AL', 'SC', 'PR', 'VI', 'WI', 'OH', 'MN', 'MI', 'IN', 'IL', 'TX', 'OK', 'NM', 'LA', 'AR', 'NE', 'MO', 'IA', 'KS', 'UT', 'SD', 'ND', 'MT', 'CO', 'WY', 'NV', 'HI', 'CA', 'AZ']

In [9]:
print(possible_cities)

['SEATTLE', 'SPOKANE', 'LAKEWOOD', 'EVERETT', 'YAKIMA', 'EUGENE', 'Portland', 'MERIDIAN', 'ANCHORAGE', 'LONGVIEW', 'RICHLAND', 'OLYMPIA', 'BREMERTON', 'BELLINGHAM', 'POCATELLO', 'VANCOUVER', 'SALEM', 'TACOMA', 'MEDFORD', 'WENATCHEE', 'BURLINGTON', 'FAIRBANKS', 'WILSONVILLE', 'CORVALLIS', 'PLUMMER', 'BEND', 'PORTLAND', 'BOISE', 'PROVIDENCE', 'MANCHESTER', 'BOSTON', 'BROCKTON', 'LOWELL', 'NEW BEDFORD', 'PITTSFIELD', 'SPRINGFIELD', 'HAVERHILL', 'WORCESTER', 'AUBURN', 'HARTFORD', 'PRESTON', 'Derby', 'NEW BRITAIN', 'HAMDEN', 'BRIDGEPORT', 'DANBURY', 'GLOUCESTER', 'Hartford', 'NORWALK', 'FITCHBURG', 'MIDDLETOWN', 'Taunton', 'WESTBROOK', 'DOVER', 'NASHUA', 'BANGOR', 'Auburn', 'NEWINGTON', 'HYANNIS', 'MILFORD', 'FRAMINGHAM', 'DURHAM', 'PORTSMOUTH', 'WATERTOWN', 'BERLIN', 'FALMOUTH', nan, 'ALBANY', 'Binghamton', 'BUFFALO', 'ELMIRA', 'LONG BEACH', 'BROOKLYN', 'POUGHKEEPSIE', 'SYRACUSE', 'HUNTINGTON', 'Yaphank', 'CAMDEN', 'WHITE PLAINS', 'New York', 'Newark', 'NEW YORK', 'NEW CITY', 'CARMEL', 'Staten Island', 'Jamaica', 'ROCHESTER', 'QUEENSBURY', 'HOBOKEN', 'MAHWAH', 'NEW BRUNSWICK', 'Spring Valley', 'ITHACA', 'New Windsor', 'Westwood', 'Paramus', 'Montclair', 'ELIZABETH', 'Elizabeth', 'BETHLEHEM', 'Brooklyn', 'HURLEY', 'KINGSTON', 'NEW WINDSOR', 'Highland Falls', 'Monroe', 'WEEHAWKEN', 'HACKENSACK', 'BRIDGETON', 'West Deptford', 'ATLANTIC CITY', 'CAPE MAY COURT HOUSE', 'AUDUBON', 'MINEOLA', 'SOMERVILLE', 'FLEMINGTON', 'CALVERTON', 'NEW CASTLE', 'Atlantic Highlands', 'CHARLESTON', 'HUNNINGTON', 'PARKERSBURG', 'RICHMOND', 'ROANOKE', 'LYNCHBURG', 'Petersburg', 'ALLENTOWN', 'ALTOONA', 'JOHNSTOWN', 'ERIE', 'HARRISBURG', 'PHILADELPHIA', 'PITTSBURGH', 'SCRANTON', 'WILLIAMSPORT', 'York', 'WASHINGTON', 'BALTIMORE', 'WHEELING', 'CHARLOTTESVILLE', 'ANNAPOLIS', 'CUMBERLAND', 'HAGERSTOWN', 'GREENSBURG', 'ELLICOTT CITY', 'ROCKVILLE', 'STATE COLLEGE', 'SHARON', 'FAIRFAX', 'CHARLEROI', 'WOODBRIDGE', 'Alexandria', 'FREDERICK', 'BEL AIR', 'Williamsburg', 'POTTSTOWN', 'FREDERICKSBURG', 'ARLINGTON', 'LEESBURG', 'HAMPTON', 'LARGO', 'UNIONTOWN', 'LA PLATA', 'MORGANTOWN', 'BLACKSBURG', 'WESTMINSTER', 'HARRISONBURG', 'LEBANON', 'SALISBURY', 'WINCHESTER', 'SWIFTWATER', 'LANCASTER', 'CHATTANOOGA', 'KNOXVILLE', 'MEMPHIS', 'MADISON', 'ASHEVILLE', 'WILMINGTON', 'RALEIGH', 'CHARLOTTE', 'FAYETTEVILLE', 'HIGH POINT', 'WINSTON SALEM', 'GULFPORT', 'JACKSON', 'LEXINGTON', 'LOUISVILLE', 'COVINGTON', 'ATLANTA', 'AUGUSTA', 'COLUMBUS', 'SAVANNAH', 'SARASOTA', 'SAINT PETERSBURG', 'FORT MYERS', 'FORT LAUDERDALE', 'GAINESVILLE', 'LAKELAND', 'Daytona Beach', 'Miami', 'ORLANDO', 'TALLAHASSEE', 'WEST PALM BEACH', 'PENSACOLA', 'JACKSONVILLE', 'TAMPA', 'BIRMINGHAM', 'MOBILE', 'MONTGOMERY', 'TUSCALOOSA', 'ATHENS', 'CHAPEL HILL', 'GREENVILLE', 'JOHNSON CITY', 'FLORENCE', 'ROME', 'TITUSVILLE', 'MUSCLE SHOALS', 'HUNTSVILLE', 'OPELIKA', 'NEW PORT RICHEY', 'POMPANO BEACH', 'MARIETTA', 'KINGSPORT', 'DOUGLASVILLE', 'SAN JUAN', 'CLARKSVILLE', 'GREENSBORO', 'PORT SAINT LUCIE', 'SUMTER', 'SPARTANBURG', 'CONWAY', 'DOTHAN', 'VERO BEACH', 'NORTH CHARLESTON', 'OCALA', 'CAROLINA', 'CRESTVIEW', 'PORT CHARLOTTE', 'MACON', 'LAWRENCEVILLE', 'NAPLES', 'COLUMBIA', 'CARY', 'BROOKSVILLE', 'SAINT AUGUSTINE', 'TAVARES', 'CANTON', 'DUNLAP', 'CONOVER', 'FRANKLIN', 'BOWLING GREEN', 'Panama City', 'MURFREESBORO', 'CHARLOTTE AMALIE', 'ELIZABETHTOWN', 'STUART', 'NASHVILLE', 'CLEMSON', 'Prattville', 'Asheville ', 'Charlotte', 'DECATUR', 'BAY MINETTE', 'BUNNELL', 'OWENSBORO', 'FORT PIERCE', 'APPLETON', 'GREEN BAY', 'KENOSHA', 'LA CROSSE', 'RACINE', 'MILWAUKEE', 'OSHKOSH', 'AKRON', 'CINCINNATI', 'CLEVELAND', 'DAYTON', 'KENT', 'TOLEDO', 'YOUNGSTOWN', 'DULUTH', 'MOORHEAD', 'MINNEAPOLIS', 'SAINT CLOUD', 'BAY CITY', 'BATTLE CREEK', 'DETROIT', 'FLINT', 'GRAND RAPIDS', 'KALAMAZOO', 'LANSING', 'MUSKEGON', 'NILES', 'SAGINAW', 'ANN ARBOR', 'ANDERSON', 'East Chicago', 'EVANSVILLE', 'FORT WAYNE', 'GARY', 'NORMAL', 'Indianapolis', 'LAFAYETTE', 'SOUTH BEND', 'TERRE HAUTE', 'MUNCIE', 'PEORIA', 'MOLINE', 'ROCKFORD', 'URBANA', 'CHICAGO', 'SHEBOYGAN', 'MANSFIELD', 'WAUSAU', 'LIMA', 'ELYRIA', 'WAUKESHA', 'EAU CLAIRE', 'HAMMOND', 'CHESTERTON', 'JANESVILLE', 'BELOIT', 'BLOOMINGTON', 'ARLINGTON HEIGHTS', 'PAINESVILLE', 'VALPARAISO', 'Benton Harbor', 'CHIPPEWA FALLS', 'Detroit', 'KOKOMO', 'Pontoon Beach', 'PORT HURON', 'HAMILTON', 'Ann Arbor', 'BOURBONNAIS', 'WEST BEND', 'PORT WASHINGTON', 'NEWARK', 'XENIA', 'BATAVIA', 'Crown Point', 'TROY', 'FOND DU LAC', 'DANVILLE', 'DEKALB', 'HOWELL', 'HOLLAND', 'SOUTH POINT', 'MEDINA', 'DELAWARE', 'CARBONDALE', 'INDIANAPOLIS', 'MAPLE GROVE', 'EDEN PRAIRIE', 'BURNSVILLE', 'Chicago', 'Amarillo', 'EL PASO', 'Fort Worth', 'HOUSTON', 'LAREDO', 'LUBBOCK', 'SAN ANTONIO', 'WACO', 'PORT ARTHUR', 'BROWNSVILLE', 'GALVESTON', 'BEAUMONT', 'OKLAHOMA CITY', 'TULSA', 'ALBUQUERQUE', 'BATON ROUGE', 'SHREVEPORT', 'ALEXANDRIA', 'MONROE', 'NEW ORLEANS', 'NORTH LITTLE ROCK', 'ABILENE', 'AUSTIN', 'LAS CRUCES', 'CORPUS CHRISTI', 'Dallas', 'BRYAN', 'GRAND PRAIRIE', 'MESQUITE', 'SPRINGDALE', 'HOUMA', 'LEAGUE CITY', 'Fort Smith', 'GRETNA', 'WESLACO', 'SAN SABA', 'TEXARKANA', 'LAWTON', 'VICTORIA', 'ODESSA', 'MCALLEN', 'LEWISVILLE', 'SAN ANGELO', 'JONESBORO', 'SHERMAN', 'CLEBURNE', 'Terrell', 'MINERAL WELLS', 'DENTON', 'Belle Chasse', 'DALLAS', 'SPRING', 'SAN MARCOS', 'MCKINNEY', 'SANTA FE', 'LINCOLN', 'OMAHA', 'KANSAS CITY', 'Saint Louis', 'BETTENDORF', 'CEDAR RAPIDS', 'DAVENPORT', 'DES MOINES', 'DUBUQUE', 'SIOUX CITY', 'WATERLOO', 'TOPEKA', 'WICHITA', 'IOWA CITY', 'CORALVILLE', 'SAINT JOSEPH', 'OLATHE', 'AMES', 'JEFFERSON CITY', 'LAWRENCE', 'Kansas City', 'URBANDALE', 'Lincoln', 'SALT LAKE CITY', 'SIOUX FALLS', 'FARGO', 'BILLINGS', 'COLORADO SPRINGS', 'DENVER', 'PUEBLO', 'GRAND FORKS', 'MISSOULA', 'GREELEY', 'FORT COLLINS', 'GREAT FALLS', 'CASPER', 'RAPID CITY', 'GRAND JUNCTION', 'BISMARCK', 'CHEYENNE', 'LOVELAND', 'LOGAN', 'BOULDER', 'RENO', 'HONOLULU', 'OAKLAND', 'BAKERSFIELD', 'SANTA CRUZ', 'MODESTO', 'SANTA MONICA', 'SAN CARLOS', 'TORRANCE', 'STOCKTON', 'SAN JOSE', 'SAN FRANCISCO', 'SANTA ROSA', 'SACRAMENTO', 'SANTA BARBARA', 'LA MIRADA', 'SAN DIEGO', 'FRESNO', 'SAN BERNARDINO', 'OCEANSIDE', 'RIVERSIDE', 'PHOENIX', 'TUCSON', 'GLENDALE', 'OXNARD', 'ORANGE', 'CULVER CITY', 'MONTEBELLO', 'GARDENA', 'COMMERCE', 'ARCADIA', 'LAS VEGAS', 'SIMI VALLEY', 'Corona', 'MARYSVILLE', 'MONTEREY', 'CONCORD', 'THOUSAND PALMS', 'SANTA MARIA', 'Napa', 'WOODLAND', 'VISALIA', 'FAIRFIELD', 'REDDING', 'LAGUNA BEACH', 'SCOTTSDALE', 'DAVIS', 'LIVERMORE', 'WEST COVINA', 'LOS ANGELES', 'HESPERIA', 'LOMPOC', 'Los Angeles', 'VACAVILLE', 'San Luis Obispo', 'EL MONTE', 'Pinole', 'UNION CITY', 'ANTIOCH', 'CAMARILLO', 'THOUSAND OAKS', 'ROSEVILLE', 'SANTA CLARITA', 'MERCED', 'LODI', 'PORTERVILLE', 'HANFORD', 'TURLOCK', 'ELK GROVE', 'SAN LUIS OBISPO', 'CHICO', 'Phoenix', 'ANAHEIM', 'PETALUMA', 'REDONDO BEACH', 'FLAGSTAFF', 'EL CENTRO', 'DIAMOND SPRINGS', 'Hanford', 'VALLEJO', 'YUMA', 'SAN RAFAEL', 'WAILUKU', 'Tulare', 'CLAREMONT', 'San Bernardino', 'STATELINE', 'PASADENA', 'LA VERNE']

In [10]:
# collapse the states-

# one dataframe for all the state data, and one for all the miles and riders per state, for simplicity, combine later

results = {}

for state in possible_states:
    state_df = df[df['HQ State'] == state]
    
    # drop city dupes
    filtered_df = state_df.drop_duplicates(subset='HQ City')
    #drop population dupes because theres still dupes for some reason
    filtered_df = filtered_df.drop_duplicates(subset=['Service Area Population'])
    filtered_df = filtered_df.drop_duplicates(subset=['Service Area SQ Miles'])

    population_sum = filtered_df['Service Area Population'].sum()
    sqmiles_sum = filtered_df['Service Area SQ Miles'].sum()
    
    state_data = {'HQ State': state, 'Service Area Population': population_sum, 'Service Area SQ Miles': sqmiles_sum}
    
    #sum and have a dictionary by state
    results[state] = state_data
    
info_df = pd.DataFrame.from_dict(results, orient='index').reset_index(drop=True)


info_df.head()

  HQ State  Service Area Population  Service Area SQ Miles
0       WA                6177562.0                 5994.0
1       OR                2527725.0                 1116.0
2       ID                1580926.0                  733.0
3       AK                 388828.0                 7415.0
4       RI                1048319.0                 1436.0

In [11]:
# then create one summed up for travel data per state, summing up all the places in the current state
results = []

#for each state, create a df just for that state, sum them up, and append together
for state in possible_states:
    state_df = df[df['HQ State'] == state]
    
    miles_sum = state_df['Passenger Miles FY'].sum()
    trips_sum = state_df['Unlinked Passenger Trips FY'].sum()
    
    results.append({'HQ State': state, 'Passenger Miles FY': miles_sum, 'Unlinked Passenger Trips FY': trips_sum})

travel_df = pd.DataFrame(results)

travel_df.head()

  HQ State  Passenger Miles FY  Unlinked Passenger Trips FY
0       WA         678216857.0                  116395619.0
1       OR         211458353.0                   49203010.0
2       ID           8558086.0                    1028342.0
3       AK          34635915.0                    2360169.0
4       RI          47674379.0                    7985997.0

In [12]:
#we now have two dataframes, one for state info and one for travel info

#now we can combine them into one and also divide the passenger miles by population and also the trips by population

master_df = pd.merge(info_df, travel_df, on='HQ State')

master_df['Miles Per Person'] = master_df['Passenger Miles FY'] / master_df['Service Area Population']
master_df['Trips Per Person'] = master_df['Unlinked Passenger Trips FY'] / master_df['Service Area Population']

master_df.shape

(53, 7)

In [13]:
master_df.head()

,HQ State,Service Area Population,Service Area SQ Miles,Passenger Miles FY,Unlinked Passenger Trips FY,Miles Per Person,Trips Per Person
0,WA,6177562.0,5994.0,678216857.0,116395619.0,109.787139,18.841676
1,OR,2527725.0,1116.0,211458353.0,49203010.0,83.655601,19.465333
2,ID,1580926.0,733.0,8558086.0,1028342.0,5.413337,0.650468
3,AK,388828.0,7415.0,34635915.0,2360169.0,89.077728,6.069956
4,RI,1048319.0,1436.0,47674379.0,7985997.0,45.476977,7.617907

We now had a dataframe where we can access population, size and travel data per state. This should be helpful when crossreferencing with pollution data.

### Walkability
There's way too many columns in this dataset. And what does everything mean?

Documentation: https://www.epa.gov/sites/default/files/2021-06/documents/epa_sld_3.0_technicaldocumentationuserguide_may2021.pdf

Some things we might want: 
- location data ==> STATEFP
- demographics ==> TotPop
- transit access ==> D2B_E8MIXA, D3b, D4a, D4b025, D4b050
- destination accessibility ==> D5br, D5be, NatWalkInd

| Field Name | Description  | Data Source |
| ---------- | :-- | :-- |
| STATEFP    | State FIPS code  | 2020 Census TIGER/Line |
| D2B_E8MIXA |The mix of employment types in a block group (such as retail, office, or industrial). Higher values correlate with more walk trips. |
| D3B        |Street intersection density (pedestrian-oriented intersections). Higher intersection density is correlated with more walk trips. |
| D4A        | Distance from the population-weighted centroid to nearest transit stop (meters) | 2020 GTFS, 2020 CTOD |
| D4B025     | Proportion of CBG employment within ¼ mile of fixed-guideway transit stop   | 2020 GTFS, 2020 CTOD, 2018 USGS PAD-US, SLD unprotected area polygons  |
| D4B050     | Proportion of CBG employment within ½ mile of fixed-<br>guideway transit stop | 2020 GTFS, 2020 CTOD, 2018<br>USGS PAD-US  |
| D5BR       | Jobs within 45-minute transit commute, distance decay<br>(walk network travel time, GTFS schedules) weighted | 2020 TravelTime API, 2017<br>Census LEHD, 2020  GTFS |
| D5BE       | Working age population within 45-minute transit<br>commute, time decay (walk network travel time, GTFS<br>schedules) weighted | 2020 TravelTime API, 2018<br>Census ACS, 2020 GTFS |
| NatWalkInd | Walkability index comprised of weighted sum of the ranked values of [D2a_EpHHm] (D2A_Ranked), [D2b_E8MixA] (D2B_Ranked), [D3b] (D3B_Ranked) and [D4a] (D4A_Ranked) | Derived from other SLD<br>variables                                                                                           |

In [31]:
walk_df = walkability_df[
    ['STATEFP',
     'D2B_E8MIXA', 'D3B', 'D4A', 'D4B025', 'D4B050',
     'D5BR', 'D5BE', 'NatWalkInd']]
walk_df.describe()

,STATEFP,D2B_E8MIXA,D3B,D4A,D4B025,D4B050,D5BR,D5BE,NatWalkInd
count,220740.000000,220740.000000,220740.000000,220740.000000,220740.000000,220740.000000,2.207400e+05,2.207400e+05,220740.000000
mean,28.623190,0.531642,78.256064,-57132.809682,0.029835,0.066813,4.413897e+04,1.520207e+02,9.541628
std,16.386075,0.221917,83.199666,49684.780296,0.144842,0.228685,3.854568e+05,2.038590e+05,4.373952
min,1.000000,0.000000,0.000000,-99999.000000,0.000000,0.000000,-9.999900e+04,-9.999900e+04,1.000000
25%,13.000000,0.397387,13.277150,-99999.000000,0.000000,0.000000,-9.999900e+04,-9.999900e+04,5.833333
50%,29.000000,0.570694,60.496455,-99999.000000,0.000000,0.000000,-9.999900e+04,-9.999900e+04,9.166667
75%,42.000000,0.701531,116.505177,340.640000,0.000000,0.000000,4.775125e+04,3.174650e+04,13.166667
max,78.000000,0.993980,5289.518414,1207.000000,1.000000,1.000000,6.963967e+06,2.697797e+06,20.000000

Since these are by city, but our other datasets are by state, we will collapse cities into their states
1. Replace state codes with state names
2. Average metric values

In [32]:
# create a dictionary map to convert state codes
fips = pd.read_csv("walkability/STATEFPS.csv")
fips_abr = fips["Abr"].values
fips_code =fips["FIPS"].values
fips_dict = dict(zip(fips_code, fips_abr))

# filter out states.territories not in code 
walk_df = walk_df[walk_df["STATEFP"].isin(fips["FIPS"])]
walk_df = walk_df[walk_df["STATEFP"].notna()]
walk_df = walk_df.replace({"STATEFP" : fips_dict})

# not all states have all metrics, so let's filter to positive values only
walk_df = walk_df.groupby("STATEFP").agg(lambda x: x[x>0].mean())
walk_df.to_csv("walkability_by_state.csv")
walk_df.head(10)

,D2B_E8MIXA,D3B,D4A,D4B025,D4B050,D5BR,D5BE,NatWalkInd
STATEFP,,,,,,,,
AK,0.552704,46.665058,502.789939,0.000049,0.000197,50234.596685,276.580110,8.204744
AL,0.532267,37.900557,462.952639,NaN,NaN,15096.038776,5033.032653,6.831200
AR,0.547573,41.377094,549.742464,0.195120,0.338690,26965.943396,10081.834906,6.722559
AZ,0.530323,91.559774,556.426466,0.312500,0.584970,65861.011576,42820.979055,10.104197
CA,0.571791,113.788509,482.944305,0.319048,0.524269,160437.732082,114664.596189,12.224970
CO,0.579195,96.974266,541.788120,0.220197,0.423170,102538.423034,64043.920225,10.530861
CT,0.573835,56.589947,464.678433,0.166857,0.373722,44294.447115,26866.644231,10.084462
DC,0.500691,160.734818,263.704391,0.404095,0.704895,442742.006682,247796.115813,14.471481
DE,0.560712,68.859402,532.070841,0.150458,0.342986,56307.205634,35739.929577,10.481417
FL,0.577565,82.713595,552.172718,0.279499,0.461687,69952.472990,49812.244836,10.470168

In [2]:
# what kinds of transportation do people use?
commute_df = pd.read_csv("walkability/CommuteMode.csv")

In [3]:
# turn into pivot table, remove national observation, create a new column for alternative transport
commute_df = commute_df[commute_df["State"] != "United States"]
commute_pivot = commute_df.pivot(index=['State', 'Year'], columns='Mode', values='Commute mode share (percent)')
commute_pivot = commute_pivot.reset_index()
commute_pivot["Alternative Transportation"] = commute_pivot[["Bicycle", "Carpool", "Public transportation", "Taxi, motorcycle, or other", "Walked"]].sum(axis=1)

In [4]:
commute_pivot.to_csv("CommuteMode.csv")

In [6]:
# how much do states spend on/make off transportation?
rev_exp = pd.read_csv("walkability/TransportationRevenueExpenditures.csv")

In [10]:
# turn into pivot table, remove national observation, create a new column for alternative transport
rev_exp = rev_exp[rev_exp["State"] != "United States"]
rev_exp = rev_exp.pivot(index=['State', 'Year'], columns=['Mode', 'Type'], values='Amount (thousands)')
rev_exp = rev_exp.reset_index()
rev_exp

Mode    State  Year       Total                     Air              Highway  \
Type                Expenditure     Revenue Expenditure  Revenue Expenditure
0     Alabama  2004  31268214.0  31898043.0    103465.0  76387.0   2610892.0
1     Alabama  2005  31752413.0  33376997.0    117439.0  76786.0   2891777.0
2     Alabama  2006  33777872.0  35746030.0    108866.0  85735.0   3117224.0
3     Alabama  2007  35780780.0  40652798.0    141235.0  81517.0   3113556.0
4     Alabama  2008  37855331.0  30966318.0    146693.0  91052.0   3021923.0
..        ...   ...         ...         ...         ...      ...         ...
862   Wyoming  2016  10332003.0   9767243.0    118031.0  18580.0   1235977.0
863   Wyoming  2017  10362191.0  10365429.0    101854.0  24279.0    998903.0
864   Wyoming  2018  10141890.0  10905289.0    162314.0  25545.0   1010831.0
865   Wyoming  2019  10000106.0   9553355.0    122734.0  29091.0   1053945.0
866   Wyoming  2020  10387312.0  12485955.0    114491.0  34319.0   1207941.0

Mode               Transit                Water
Type   Revenue Expenditure  Revenue Expenditure   Revenue
0     799551.0     42112.0  12956.0     59270.0   78119.0
1     851880.0     53673.0   6840.0     69998.0   87289.0
2     908548.0     53679.0   6169.0     99926.0   88473.0
3     896611.0     62958.0   6815.0    181571.0  110031.0
4     879950.0     74073.0   5181.0    176795.0  125295.0
..         ...         ...      ...         ...       ...
862   224631.0      6717.0    730.0         0.0       0.0
863   214434.0      5706.0    740.0         0.0       0.0
864   239953.0      5581.0    795.0         0.0       0.0
865   253533.0      7308.0    857.0         0.0       0.0
866   252398.0      7537.0     13.0         0.0       0.0

[867 rows x 12 columns]

In [11]:
rev_exp.to_csv("RevenueExpenditure.csv")